@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,200;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}


body,
html {
  height: 100%;
}

html h1 {
  text-align: center;
}

html h2 {
  text-align: center;
  color: grey;
}

#exampleSlider {
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 12px;
}

@media (max-width: 767px) {
  #exampleSlider {
    border-color: transparent;
  }
}

#exampleSlider .MS-content {
  margin: 15px 5%;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 767px) {
  #exampleSlider .MS-content {
    margin: 0;
  }
}

#exampleSlider .MS-content .item {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  border-right: none;
  width: 20%;
}

@media (max-width: 1200px) {
  #exampleSlider .MS-content .item {
    width: 25%;
  }
}

@media (max-width: 992px) {
  #exampleSlider .MS-content .item {
    width: 33.3333%;
  }
}

@media (max-width: 767px) {
  #exampleSlider .MS-content .item {
    width: 50%;
  }
}

#exampleSlider .MS-content .item p {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
}

#exampleSlider .MS-controls button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 30px;
  outline: 0;
  top: 35px;
}

@media (max-width: 767px) {
  #exampleSlider .MS-controls button {
    display: none;
  }
}

#exampleSlider .MS-controls button:hover {
  cursor: pointer;
}

#exampleSlider .MS-controls .MS-left {
  left: 30px;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-left {
    left: -2px;
  }
}

#exampleSlider .MS-controls .MS-right {
  right: 30px;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-right {
    right: -2px;
  }
}

/* ----------------------------- List Group Item ---------------------------- */

.list-group {
  max-height: 280px;
  overflow: auto;
}

.list-group .list-group-item {
  display: flex;
  justify-content: space-between;
}

.text-style {
  letter-spacing: 2px;
}

@media only screen and (max-width: 600px) {
  .btn-style {
    outline: none;
    background-color: #dc3545;
    border-color: #dc3545;
  }
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/banner.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.button {
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.nav-item a:hover {
  color: #dc3545 !important;
}

.active {
  color: #dc3545 !important;
}
