input:valid,
textarea:valid {
  border: 2px solid lightgrey !important;
  border-radius: 5px;
}

small {
  display: none;
  color: red;
}

input:invalid {
  border: 2px solid red !important;
  border-radius: 6px;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: none !important;
}
