.helo{
    height:500px;
    width: 100%;
    background-image: url(pic1.jpg);
}
.navbar{
    padding: 20px 30px;
    display: flex;
    
}
.two{
    color: black;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}
.part-1{
    display: flex; 
    width: 50%;
    justify-content: space-between;
}
.part-2{
    width: 50%;
    display: flex;
}
.part-2 a{
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}
.part-2 :hover{
    color: gray;

}