*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 80px 30px;
}
.main-1{
    width: 50%;
}
.main-2{
    width: 50%;
    padding-top: 60px;
}
.main-2 p{
    padding-top: 20px;
}
.main h3{
     margin-top: 10%;
     padding-left: 140px;
     font-size: 40px;
     color:orangered;
     font-weight:300;
}
.main-1 p{
    padding: 10px 140px;
}
.main img{
    width: 300px;
    padding: 20px 150px;
}

.info{
    background-image:url(pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.6;
    height:100vh;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.info-1{
    width: 50%;
}
.info-2{
    width:50%;
}
.info-1 h2{
      text-align: center;
      color: black;
    }
 .odd h2{
    color: black;
 }   
 .odd p{
     color: white;
 }
