*{
    margin:0%;
    padding: 0%;
}

body{
    background-image: url(../placement1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: black;
    justify-content:space-between;
}
.header1{
     width: 25%; 
}
.header2{
    padding: 6px 30px;
}
.header1 a{
    color:white;
    display: flex;
    font-size: 20px;
    text-decoration: none;
    padding: 6px 20px 0px 20px;

    }
.header2 a{
    color:white;
    font-size: 20px; 
    padding: 10px 10px;
    text-align: center;
}
.navbar{
    background-color:lightblue;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
    align-items: center;
}
.part-1 img{
    height: 50px;
    margin-left: 30px;
}
.part-2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.part-2 a{
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}
.part-2 a:hover{
    color:#1f4590;

}
.part-2 i:hover{
    color: #f0b666;

}
.section h1{
    color: tomato;
    text-transform: uppercase;
    margin: 10%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.section{
    text-align: center;
}
.section p{
    color: black;
    line-height:20px;
    font-size: 20px;
    margin:0% ;
    text-align: center;
}
.section a{
    background-color: tomato;
    color: white;
    width:20%;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    
}
.section h3{
    text-align: center;
    padding-bottom: 40px;
}
.section a:hover{
    background-color:#002939;
}
.section p,a{ 
    padding: 30px 30px;
}
.first,.second,.third h4{
    text-transform: uppercase;
    color: white;
}
.middle{
    background-color: black;
    justify-content: space-evenly;
    display: flex;
    margin-top: 30%;
    padding: 50px 0px;
}
.middle li{
    text-decoration: none;
    color: grey;
    list-style: none;
    text-transform: capitalize;
    font-variant: small-caps;
    padding: 5px 0px;
}

.third{
    color:grey;
}
.footer{
    background-color: black;
    color: white;
    margin-top: 0px;
    padding: 20px 20px;
    text-align: center;
}